.table {
	grid-template-columns: 1.5fr 10fr 1.5fr 1.5fr;
	border-bottom: 2px solid var(--bgc--principal);
	width: 80%;
}

.table .table--tr {
	background-color: #fff;
	height: 50px;
	align-items: center;
	font-size: 0.90em;
	padding: 10px;
}


.table .table--tr.text--left {
		justify-content: left;
 }

.table .table--tr,
.table .table--tr.text--center {
		justify-content: center;

}


.table .tr--th {
	background-color: var(--bgc--principal);
	grid-gap: 0px;
	color: #fff;
	font-weight: bold;
}

.table .table--tr.tr--td {
	background-color: #f3f3f3;
}

.table--body {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.table .table--tr.table--body:last-child {
	border-right: none;
}

.table--body--reverse {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.table .table--tr.table--footer--factura {
	grid-row: span 4;
    grid-column: span 2;
    padding: 0px 50px;
}
.table .table--tr.table--footer--boleta {
	grid-row: span 2;
    grid-column: span 2;
    padding: 0px 50px;
}


.table .table--tr.table--footer span  {
	font-weight: bold;
	margin-right: 20px;
}

.bold {
	font-weight: bold;
}

.table .table--tr.table--consulta {
	grid-column: span 4;
    padding: 0px 50px;
    font-weight: bold;
}


.imprimir {
	margin: 0px auto;
	width: 80%;
	text-align: right;
	padding: 10px 20px;
}

.imprimir input {
	background-color: #007a98a8;
	border: none;
	width: 100px;
	height: 40px;
	color: #fff;
	outline: none;
}